.popup {
    padding: 20px;
    width: 500px;
    background: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hide {
    display: none;
}
.popup__row{
    display: flex;   
    justify-content: space-between;
}
.popup__block{
    display: flex;
    flex-direction: column;
}
.popup label{
    display: flex;   
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    width: 350px;
}
.close{
    display: block;
    margin-left: auto;
}
input, textarea{
    width: 200px;
}