.contact{
    background-image: url(../svg/Contact_bg.svg);
    background-repeat: no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    height: 150vh;
}

.delivery_title{
    font-weight: bold;
    font-size: 48px;
    align-items: center;
    text-align: center;
    display: flex;
    color: #F3FBFF;
    background-image: url("../svg/bg_h1.svg");
    background-repeat: no-repeat;
    height: 15vh;
    margin-left: 400px;
    padding-left: 132px;
    margin-bottom: 80px;
}

.contact_info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 120px;
}

.info_title{
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 25px;
    color: #02265C;
}

.contact_tel{
    font-weight: normal;
    font-size: 26px;
    color: #02265C;
    margin-bottom: 5px;
}

.contact_mail{
    font-weight: bold;
    font-size: 26px;
    color: #02265C;
    margin-bottom: 20px;
}

.contact_ico{
    margin-right: 18px;
}

.adress{
    display: flex;
    margin-top: 15px;
    margin-left: 120px;
}

.adress_name{
    font-weight: bold;
    font-size: 26px;
    max-width: 303px;
    margin-right: 155px;
    color: #02265C;
}

.map{
    margin-left: 120px;
    margin-top: 100px;
}

.adress_map{
    width: 1200px;
    height: 386px;
}