.delivery_block{
    background-image: url("../svg/bg_contact.svg");
    background-size: cover;
    background-position: top center;
    height: 160vh;
}

.div_delivery{
    margin-top: 50px;
    margin-left: 120px;
}

.delivery_title{
    font-weight: bold;
    font-size: 48px;
    align-items: center;
    text-align: center;
    display: flex;
    color: #F3FBFF;
    background-image: url("../svg/bg_h1.svg");
    background-repeat: no-repeat;
    height: 15vh;
    margin-left: 400px;
    padding-left: 132px;
    margin-bottom: 80px;
}

.delivery_p{
    margin-top: 12px;
    margin-bottom: 39px;
}

.descr_title{
    font-weight: bold;
    font-size: 36px;
    line-height: 140.62%;
    color: #02265C;
}

.delivery_descr{
    font-weight: normal;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #02265C;
    margin: 0;
    line-height: 140.62%;
    margin-right: 112px;
}

.delivery_price{
    display: flex;
}

.delivery_important{
    font-weight: normal;
    font-size: 36px;
    align-items: center;
    color: #02265C;
}

.delivery_bonus{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 1150px;
}

.bonus_deliv{
    font-weight: normal;
    font-size: 24px;
    color: #02265C;
    white-space: pre-wrap;
}

.bonus_import{
    font-weight: normal;
    font-size: 36px;
    color: #02265C;
    white-space: pre-wrap;
    margin: 0;
}