.qustion{
    background-color:  #3CC6FE;
    padding-top: 84px;

}

.question_section{
    display: flex;
}

.quest_title{
    font-weight: bold;
    font-size: 24px;
    color: #F3FBFF;
    margin-left: 120px;
}

.quest_description{
    font-weight: normal;
    font-size: 18px;
    color: #F3FBFF;
    margin-left: 120px;
    max-width: 360px;
}

.form_input{
    background: #F3FBFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 63px;
    width: 248px;
    height: 50px;
    margin-right: 24px;
}

.request{
    margin-left: 44px;
}

.request_button{
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 18px;
    width: 248px;
    height: 44px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #1194FF;
    color: #F3FBFF;
    border-radius: 63px;
    border: none;
    margin-left: 15px;

}

.footer{
    background-image: url(../svg/footer_bg.svg);
    background-repeat: no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    height: 400px;
}

.footer_wrapper{
    margin-left: 304px;
}

.footer_content{
    display: flex;
    flex-wrap: wrap;
}

.footer_menu{
    margin-top: 155px;
}

.footer_item{
    list-style-type: none;
    margin-bottom: 11px;
}

.footer_link{
    font-weight: 300;
    font-size: 18px;
    color: #02265C;
}

.footer_adress{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    margin-left: 415px;
}

.footer_tel{
    margin-bottom: 11px;
    color: #02265C;
    font-size: 16px;
}

.footer_mail{
    font-weight: bold;
    font-size: 16px;
    color: #02265C;
    margin-bottom: 20px;
}

.ico_link{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer_ico{
    margin-left: 20px;
}

