.all_header{
    background-image: url("../svg/header2.svg");
    background-repeat: no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    height: 37vh;

}

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
}

.header_menu{
    list-style-type: none;
    margin-left: 170px;
}

.logoimage{
    margin-top: 19px;
    margin-left: 96px;
}

.header_item{
    font-weight: 300;
    font-size: 20px;
    display: inline; /* Отображать как строчный элемент */
    margin-right: 25px; 

} 

.header_link{
    color: #F3FBFF;
}

.header_nav{
    margin-top: 75px;
}

.header_button{
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 18px;
    width: 200px;
    height: 44px;
    margin-top: 60px;
    margin-left: 53px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #1194FF;
    color: #F3FBFF;
    border-radius: 63px;
    border: none;
}