.header_first{
    background-image: url("../svg/header_bg.svg");
    background-repeat: no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    height: 105vh;
}

.header_wrapper{
    display: flex;
    flex-wrap: wrap;
}

.header_menu{
    list-style-type: none;
    margin-left: 30px;
}

.header_nav{
    margin-left: 175px;
}

.logoimage{
    margin-top: 19px;
    margin-left: 95px;
}

.header_item{
    font-size: 20px;
    display: inline; 
    margin-left: 25px;

}  

.header_nav{
    margin-top: 75px;
}

.header_link{
    color: #F3FBFF;
}

.header_button{
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 18px;
    width: 200px;
    height: 44px;
    margin-top: 65px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #1194FF;
    color: #F3FBFF;
    border-radius: 63px;
    border: none;
    margin-left: 95px;
}

.header_text{
    color: #F3FBFF;
    margin-left: 120px;
    margin-top: 55px;
}

.header_content{
    font-weight: bold;
    font-size: 48px;
}

.header_descr{
    font-weight: 300;
    font-size: 18px;
    width: 564px;   
    text-align: center;
    margin-left: 78px;
}

.text_button{
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 18px;
    width: 200px;
    height: 44px;
    margin-left: 360px;
    margin-top: 21px;
    background: #3CC6FE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 63px;
    border: none;
    color: #F3FBFF;
}
